.leftCol {
  flex-shrink: 0;
  padding: 51px 14px 51px 30px;
  width: 249px;
  height: 100%;
  background-color: #fff;
  z-index: 0;
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    border-bottom: 1px solid #F2F2F2;
    cursor: pointer;
    transition: border-bottom-color .2s ease-in-out;
    &:hover {
      border-bottom-color: #22B9CA;
    }
  }
}