* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1;

  background-color: #FCFCFC;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

a {
  text-decoration: none;
}

input,button,select {
  font-size: inherit;
  font-family: inherit;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.header__col {
  display: flex;
  align-items: center;
}

.user-nav {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.user-nav__list {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F2F2F2;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.user-nav__element:hover {
  background-color: #22B9CA;
}

.user-nav__element svg path{
  transition: fill .2s ease-in-out;
}

.user-nav__element:hover svg path{
  fill: #fff;
}

.user {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.nav {
  display: flex;
  column-gap: 40px;
  padding: 0 19px;
}

.nav__item {
  display: flex;
  padding: 27px 0;
  height: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.nav__item_active::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #22B9CA;
}

.nav__item_active {
  font-weight: 500;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 24px;
  column-gap: 10px;
  min-width: 322px;
  padding: 10px 18px;
  background: #F2F2F2;
  border-radius: 10px;
}

.search input {
  display: block;
  width: 100%;
  order: 1;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #828282;
}

.search input::placeholder {
  color: #828282;
}

.user__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user__avatar img {
  display: block;
  width: 100%;
}

.user__nickname {
  font-size: 16px;
  line-height: 20px;
}

.main {
  display: flex;
  height: calc(100vh - 70px);
}

.left-col {
  flex-shrink: 0;
  padding: 51px 14px 51px 30px;
  width: 249px;
  height: 100%;
  background-color: #fff;
  z-index: 0;
}

.left-col__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-col__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  border-bottom: 1px solid #F2F2F2;
  cursor: pointer;
  transition: border-bottom-color .2s ease-in-out;
}

.left-col__item:hover {
  border-bottom-color: #22B9CA;
}

.content {
  display: block;
  width: 100%;
  padding: 44px 30px 55px 16px;
}

.content__header {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
}

.content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  padding: 6px 18px;
  line-height: 21px;
  border: none;
  background: #22B9CA;
  border: 1px solid #22B9CA;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sort__style {
  display: flex;
}

.sort__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 13px;
  background: rgba(208, 208, 208, 0.08);
  border-radius: 6px 0px 0px 6px;
  border: none;
  cursor: pointer;
}

.sort__button_list {
  background: #F2F2F2;
  border-radius: 0px 6px 6px 0px;
}

.content__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  padding: 18px 16px;
  background-color: #fff;
  border-radius: 10px;
}

.nft {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 331px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.nft:hover {
  transform: translate3d(0, -10px, 0);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.nft:hover .nft__price {
  background-color: #22B9CA;
  color: #fff;
  border-color: #22B9CA;
}

.nft__top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 156px;
}

.nft__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nft__body {
  width: 100%;
  padding: 12px 18px;
}

.nft__title{
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.nft__text {
  font-size: 14px;
  line-height: 21px;
  color: #22B9CA;
}

.nft__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  padding: 12px 18px 15px;
  border-top: 1px solid #F2F2F2;
}

.nft__type {
  font-size: 14px;
  line-height: 21px;
}

.nft__price {
  display: block;
  padding: 4px 12px;
  border: 1px solid #333;
  border-radius: 20px;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s ease-in-out;
}